$color-1:hsl(0, 0%, 0%);
$color-2:hsl(0, 0%, 14%);
$color-3:hsl(199, 100%, 62%);
$color-4:hsl(88, 100%, 71%);
$color-5:hsl(0, 1%, 27%);
$color-6:hsl(90, 2%, 18%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{   
background:$color-2;
}

.container{
    padding: 10px;
    position: absolute;
    top:50%;
    left:50%;
 transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 4px;
    background: $color-1;
    height: 400px;
    display: grid;
    place-items: center;
    .image{ 
        height: 200px;
        border-radius: 50%;
        width: 186px;
        background: url("../img/user.jpg") no-repeat center center;
        background-size: cover;
        background-position: center;
        border-block-end: 4px solid $color-4;
        border-block-start: 5px solid $color-4;
 
     }

    .content{
        text-align: center;
        h4, p{
            color: white;
        }
        h1{
            color:$color-4;
        }
    }
    .contact{
        .fa{
            color:$color-4;
            padding: 10px;
           
        }
        .fa:before {
            color: $color-4;
            background: $color-6;
            padding: 11px;
            border-radius:50%;
            font-size: 19px; 
        }
    }

}

@media screen and (max-width:378px){
    .container{
        width: 336px;
        h1{
            font-size: x-large;
        }
    }

}